/.idea

###> symfony/framework-bundle ###
/public/bundles/
/var/
/vendor/
/logs/
###< symfony/framework-bundle ###



###> symfony/webpack-encore-bundle ###
/node_modules/
#/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
