@import "~bootstrap";



@import "~rfs/sass";

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

body{
  font-family: 'Work Sans', georgia, serif;
}

$blueColor: #024059;
$greenColor: #007345;

.blueColor {
  color: $blueColor;
}

.greenColor {
  color: $greenColor;
}

.greenColor {
  color: $greenColor;
}

.btn-contact {
  color: #fff;
  background-color: $greenColor;
  border-color: $greenColor;
  &:hover {
    color: #fff;
    background-color: $blueColor;
    border-color: $blueColor;
  }
}

$rfs-base-value: 10;

.font4-5-resp-base-10 {
  @include font-size(4.5rem);
}

.font3-resp-base-0-5 {
  @include font-size(3rem);
}

$rfs-base-value: 15;

.font2-5-resp-base-15 {
  @include font-size(2.5rem);
}

$rfs-base-value: 13;

.font1-5-resp-base-13 {
  @include font-size(1.5rem);
}

.padding-0 {
  padding: 0;
}

.padding-lf-0 {
  padding-left: 0;
}

.padding-rg-0 {
  padding-right: 0;
}

.margin-top-40px {
  margin-top: 40px;
}

.border-top-blue {
  border-top: 2px solid $blueColor;
}

.border-bottom-blue {
  border-bottom: 2px solid $blueColor;
}

.shadow-hover:hover
{
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}