
#error_msg{
  display: none;
}
#success_msg{
  display: none;
}

#challenge_submit{
  background-color: black;
  color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 9px;
  letter-spacing: 0.2em;
  width: 100%;
  padding: 15px 0px;
  border: 0;
}

.challenge-label{
  display: block;
  text-align: left;
  color: #212121;
  font-family: 'Work Sans', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-bottom: 15px;
}

.challenge-textfield{
  border: none;
  outline: none;
  padding: 0px 0px 15px 0px;
  margin-bottom: 40px;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid #e2e2e2;
  border-radius: 0px;
  font-family: 'Work Sans', serif;
  font-size: 16px;
  color: #bfbfbf;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.challenge-textfield:focus{
  color: #212121;
  border-bottom: 1px solid #212121;
}

.hide {
  display: none;
}